@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Add cursor pointer to buttons by default - this is coming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pf-background, #0f172a);
}
